In [3]:
import numpy as np 
import pandas as pd 
import os # Liên kết file ổ đĩa 
os.chdir("D:/archive")

In [4]:
df = pd.read_csv("ifood_df.csv")
df.info() # Xem thông tin có trong file

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2205 entries, 0 to 2204
Data columns (total 39 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Income                2205 non-null   float64
 1   Kidhome               2205 non-null   int64
 2   Teenhome              2205 non-null   int64
 3   Recency               2205 non-null   int64
 4   MntWines              2205 non-null   int64
 5   MntFruits             2205 non-null   int64
 6   MntMeatProducts       2205 non-null   int64
 7   MntFishProducts       2205 non-null   int64
 8   MntSweetProducts      2205 non-null   int64
 9   MntGoldProds          2205 non-null   int64
 10  NumDealsPurchases     2205 non-null   int64
 11  NumWebPurchases       2205 non-null   int64
 12  NumCatalogPurchases   2205 non-null   int64
 13  NumStorePurchases     2205 non-null   int64
 14  NumWebVisitsMonth     2205 non-null   int64
 15  AcceptedCmp3          2205 non-null   int64
 16  AcceptedCmp4          2205 non-null   int64
 17  AcceptedCmp5          2205 non-null   int64
 18  AcceptedCmp1          2205 non-null   int64
 19  AcceptedCmp2          2205 non-null   int64
 20  Complain              2205 non-null   int64
 21  Z_CostContact         2205 non-null   int64
 22  Z_Revenue             2205 non-null   int64
 23  Response              2205 non-null   int64
 24  Age                   2205 non-null   int64
 25  Customer_Days         2205 non-null   int64
 26  marital_Divorced      2205 non-null   int64
 27  marital_Married       2205 non-null   int64
 28  marital_Single        2205 non-null   int64
 29  marital_Together      2205 non-null   int64
 30  marital_Widow         2205 non-null   int64
 31  education_2n Cycle    2205 non-null   int64
 32  education_Basic       2205 non-null   int64
 33  education_Graduation  2205 non-null   int64
 34  education_Master      2205 non-null   int64
 35  education_PhD         2205 non-null   int64
 36  MntTotal              2205 non-null   int64
 37  MntRegularProds       2205 non-null   int64
 38  AcceptedCmpOverall    2205 non-null   int64
dtypes: float64(1), int64(38)
memory usage: 672.0 KB

In [5]:
df.describe()

,Income,Kidhome,Teenhome,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,...,marital_Together,marital_Widow,education_2n Cycle,education_Basic,education_Graduation,education_Master,education_PhD,MntTotal,MntRegularProds,AcceptedCmpOverall
count,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,...,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.00000
mean,51622.094785,0.442177,0.506576,49.009070,306.164626,26.403175,165.312018,37.756463,27.128345,44.057143,...,0.257596,0.034467,0.089796,0.024490,0.504762,0.165079,0.215873,562.764626,518.707483,0.29932
std,20713.063826,0.537132,0.544380,28.932111,337.493839,39.784484,217.784507,54.824635,41.130468,51.736211,...,0.437410,0.182467,0.285954,0.154599,0.500091,0.371336,0.411520,575.936911,553.847248,0.68044
min,1730.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000,-283.000000,0.00000
25%,35196.000000,0.000000,0.000000,24.000000,24.000000,2.000000,16.000000,3.000000,1.000000,9.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,56.000000,42.000000,0.00000
50%,51287.000000,0.000000,0.000000,49.000000,178.000000,8.000000,68.000000,12.000000,8.000000,25.000000,...,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,343.000000,288.000000,0.00000
75%,68281.000000,1.000000,1.000000,74.000000,507.000000,33.000000,232.000000,50.000000,34.000000,56.000000,...,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,964.000000,884.000000,0.00000
max,113734.000000,2.000000,2.000000,99.000000,1493.000000,199.000000,1725.000000,259.000000,262.000000,321.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2491.000000,2458.000000,4.00000

In [6]:
df.shape

(2205, 39)

In [7]:
df.head(5)

,Income,Kidhome,Teenhome,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,...,marital_Together,marital_Widow,education_2n Cycle,education_Basic,education_Graduation,education_Master,education_PhD,MntTotal,MntRegularProds,AcceptedCmpOverall
0,58138.0,0,0,58,635,88,546,172,88,88,...,0,0,0,0,1,0,0,1529,1441,0
1,46344.0,1,1,38,11,1,6,2,1,6,...,0,0,0,0,1,0,0,21,15,0
2,71613.0,0,0,26,426,49,127,111,21,42,...,1,0,0,0,1,0,0,734,692,0
3,26646.0,1,0,26,11,4,20,10,3,5,...,1,0,0,0,1,0,0,48,43,0
4,58293.0,1,0,94,173,43,118,46,27,15,...,0,0,0,0,0,0,1,407,392,0

In [8]:
import seaborn as sns 
import matplotlib.pyplot as plt

In [9]:
# biểu đồ Heatmap 
#plt.figure(figure=(10,8))
#sns.heatmap(df.corr(), annot=True , cmap="coolwarm")
#plt.title("Heatmap of Correlation Matrix")
#plt.show 

#Vẽ pairplot 
#sns.pairplot(df)
#plt.show

In [10]:
df.corr() # Mối tương quan

,Income,Kidhome,Teenhome,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,...,marital_Together,marital_Widow,education_2n Cycle,education_Basic,education_Graduation,education_Master,education_PhD,MntTotal,MntRegularProds,AcceptedCmpOverall
Income,1.000000,-0.531699,0.042483,0.006716,0.730495,0.537920,0.702500,0.551758,0.555601,0.417653,...,-0.001960,0.044336,-0.060621,-0.239604,0.017644,0.021633,0.091176,0.823066,0.816879,0.388247
Kidhome,-0.531699,1.000000,-0.040207,0.011829,-0.499288,-0.374388,-0.445665,-0.389895,-0.379101,-0.356550,...,0.007422,-0.072244,0.019050,0.055308,-0.001930,0.011482,-0.042031,-0.551152,-0.539828,-0.212080
Teenhome,0.042483,-0.040207,1.000000,0.013881,0.002783,-0.176925,-0.267177,-0.206371,-0.164246,-0.019619,...,0.027181,0.047962,-0.056259,-0.120519,-0.024698,0.023806,0.092901,-0.142995,-0.146866,-0.130255
Recency,0.006716,0.011829,0.013881,1.000000,0.016470,-0.004909,0.026138,0.001177,0.025535,0.018558,...,0.023908,-0.001348,-0.006789,-0.003093,0.031419,-0.025563,-0.009234,0.021132,0.020241,-0.013344
MntWines,0.730495,-0.499288,0.002783,0.016470,1.000000,0.384947,0.593119,0.395967,0.388613,0.390194,...,0.005915,0.034139,-0.096259,-0.140369,-0.060920,0.036403,0.160804,0.902310,0.901848,0.509913
MntFruits,0.537920,-0.374388,-0.176925,-0.004909,0.384947,1.000000,0.568100,0.592556,0.570986,0.392596,...,-0.014210,0.025961,0.025452,-0.060915,0.114919,-0.055581,-0.084301,0.606658,0.594180,0.155133
MntMeatProducts,0.702500,-0.445665,-0.267177,0.026138,0.593119,0.568100,1.000000,0.595673,0.556511,0.375581,...,-0.004064,0.017370,-0.041738,-0.111968,0.064917,-0.004020,-0.004194,0.861392,0.860663,0.319553
MntFishProducts,0.551758,-0.389895,-0.206371,0.001177,0.395967,0.592556,0.595673,1.000000,0.582974,0.425420,...,0.015502,0.041886,0.061304,-0.059840,0.106227,-0.050153,-0.103952,0.635038,0.620626,0.174675
MntSweetProducts,0.555601,-0.379101,-0.164246,0.025535,0.388613,0.570986,0.556511,0.582974,1.000000,0.355747,...,-0.011220,0.049347,0.060550,-0.057863,0.104075,-0.067723,-0.085702,0.604514,0.595394,0.200174
MntGoldProds,0.417653,-0.356550,-0.019619,0.018558,0.390194,0.392596,0.375581,0.425420,0.355747,1.000000,...,-0.010375,0.043096,0.019189,-0.065014,0.131759,-0.032492,-0.119708,0.463694,0.388776,0.194647
NumDealsPurchases,-0.132427,0.226434,0.394341,0.000479,0.011858,-0.136350,-0.165522,-0.145030,-0.122279,0.056926,...,0.006692,0.003697,-0.007602,-0.043867,-0.002089,0.026635,0.000267,-0.087599,-0.096410,-0.126962
NumWebPurchases,0.503184,-0.375590,0.161229,-0.005104,0.552342,0.300813,0.329453,0.297776,0.332057,0.405961,...,0.005234,0.035743,-0.035899,-0.128049,0.008598,-0.009216,0.070918,0.521086,0.503947,0.195248
NumCatalogPurchases,0.710057,-0.519813,-0.114019,0.029750,0.673234,0.513686,0.714382,0.563174,0.524369,0.471032,...,-0.000949,0.044383,-0.030490,-0.122534,0.026818,-0.014804,0.047989,0.791187,0.778742,0.366459
NumStorePurchases,0.687206,-0.506543,0.047321,0.000462,0.639373,0.459056,0.517245,0.456896,0.454133,0.388575,...,-0.006014,0.030994,-0.022059,-0.145278,0.009614,0.010635,0.048626,0.677893,0.668632,0.201254
NumWebVisitsMonth,-0.648306,0.448497,0.129365,-0.017906,-0.329395,-0.424463,-0.543387,-0.453353,-0.429375,-0.253022,...,-0.007476,-0.031536,0.017278,0.100688,-0.018434,-0.022100,-0.007489,-0.501639,-0.498011,-0.168914
AcceptedCmp3,-0.011181,0.015897,-0.043223,-0.032327,0.060700,0.014131,0.021224,-0.000832,0.001099,0.124984,...,-0.019771,-0.015375,0.002202,0.022520,-0.014825,-0.013577,0.020276,0.044571,0.034673,0.431137
AcceptedCmp4,0.233267,-0.162597,0.037860,0.017658,0.373063,0.006078,0.096798,0.015513,0.028665,0.023613,...,-0.000972,0.041191,-0.034622,-0.044914,-0.013071,0.018283,0.040317,0.259158,0.267289,0.612101
AcceptedCmp5,0.416386,-0.205124,-0.190760,0.000334,0.472729,0.208615,0.389276,0.194387,0.258053,0.176118,...,0.006087,0.013863,-0.027177,-0.044468,0.016503,0.001983,0.013747,0.475559,0.478075,0.719560
AcceptedCmp1,0.345242,-0.174741,-0.145748,-0.021097,0.351346,0.192061,0.325306,0.261389,0.244771,0.170380,...,-0.019344,0.001070,0.008072,-0.041569,0.030759,-0.027079,-0.002937,0.384526,0.383947,0.677610
AcceptedCmp2,0.110210,-0.082124,-0.015805,-0.001390,0.206231,-0.010147,0.045842,0.002093,0.009915,0.050731,...,0.038244,-0.000730,-0.009502,-0.018608,0.006711,-0.031132,0.033530,0.138390,0.139171,0.460489
Complain,-0.027488,0.037025,0.007633,0.005758,-0.036709,-0.003135,-0.020921,-0.019299,-0.020773,-0.030440,...,-0.001662,-0.018076,0.020147,-0.015159,0.037360,-0.016771,-0.038572,-0.032959,-0.031430,-0.021000
Z_CostContact,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Z_Revenue,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Response,0.174902,-0.078409,-0.155196,-0.200413,0.245559,0.122331,0.248821,0.107405,0.115326,0.140210,...,-0.074664,0.045285,-0.035008,-0.050437,-0.040749,0.003509,0.089627,0.264895,0.262363,0.426961
Age,0.212625,-0.238083,0.362919,0.014228,0.164438,0.013149,0.041540,0.040855,0.021075,0.059295,...,0.054820,0.163721,-0.104364,-0.115872,-0.061579,0.074754,0.123429,0.118370,0.117552,0.001529
Customer_Days,-0.024892,-0.055743,0.019394,0.028338,0.168102,0.067978,0.089203,0.081611,0.080843,0.161407,...,0.003426,0.013066,0.011466,0.058275,0.029693,-0.033257,-0.035934,0.150476,0.141400,-0.012213
marital_Divorced,0.013892,-0.018514,0.055852,0.001483,0.021679,0.010567,-0.021688,-0.015213,-0.000813,0.016633,...,-0.201016,-0.064476,0.006990,-0.044471,0.005653,-0.003870,0.008472,0.003726,0.002321,-0.001840
marital_Married,-0.010427,0.019731,0.007499,-0.021106,-0.012597,-0.013723,-0.027769,-0.031728,-0.005606,-0.016411,...,-0.468329,-0.150217,0.010793,-0.005507,-0.003848,-0.007467,0.005984,-0.022251,-0.021605,0.005995
marital_Single,-0.015539,0.014525,-0.100454,-0.000926,-0.022598,0.011982,0.045575,0.013809,-0.002711,-0.001006,...,-0.309483,-0.099267,-0.030177,0.045026,0.015925,-0.005171,-0.010632,0.005940,0.006271,-0.006113
marital_Together,-0.001960,0.007422,0.027181,0.023908,0.005915,-0.014210,-0.004064,0.015502,-0.011220,-0.010375,...,1.000000,-0.111293,0.018123,0.000602,-0.007684,0.020210,-0.021717,0.001622,0.002656,-0.006118
marital_Widow,0.044336,-0.072244,0.047962,-0.001348,0.034139,0.025961,0.017370,0.041886,0.049347,0.043096,...,-0.111293,1.000000,-0.015865,-0.013852,-0.016716,-0.010353,0.045884,0.035878,0.033283,0.015537
education_2n Cycle,-0.060621,0.019050,-0.056259,-0.006789,-0.096259,0.025452,-0.041738,0.061304,0.060550,0.019189,...,0.018123,-0.015865,1.000000,-0.049766,-0.317099,-0.139663,-0.164803,-0.060272,-0.064468,-0.021605
education_Basic,-0.239604,0.055308,-0.120519,-0.003093,-0.140369,-0.060915,-0.111968,-0.059840,-0.057863,-0.065014,...,0.000602,-0.013852,-0.049766,1.000000,-0.159961,-0.070453,-0.083135,-0.138631,-0.138087,-0.043835
education_Graduation,0.017644,-0.001930,-0.024698,0.031419,-0.060920,0.114919,0.064917,0.106227,0.104075,0.131759,...,-0.007684,-0.016716,-0.317099,-0.159961,1.000000,-0.448911,-0.529715,0.014332,0.002596,0.007810
education_Master,0.021633,0.011482,0.023806,-0.025563,0.036403,-0.055581,-0.004020,-0.050153,-0.067723,-0.032492,...,0.020210,-0.010353,-0.139663,-0.070453,-0.448911,1.000000,-0.233308,0.006362,0.009651,-0.012484
education_PhD,0.091176,-0.042031,0.092901,-0.009234,0.160804,-0.084301,-0.004194,-0.103952,-0.085702,-0.119708,...,-0.021717,0.045884,-0.164803,-0.083135,-0.529715,-0.233308,1.000000,0.070804,0.084811,0.033256
MntTotal,0.823066,-0.551152,-0.142995,0.021132,0.902310,0.606658,0.861392,0.635038,0.604514,0.463694,...,0.001622,0.035878,-0.060272,-0.138631,0.014332,0.006362,0.070804,1.000000,0.996569,0.461279
MntRegularProds,0.816879,-0.539828,-0.146866,0.020241,0.901848,0.594180,0.860663,0.620626,0.595394,0.388776,...,0.002656,0.033283,-0.064468,-0.138087,0.002596,0.009651,0.084811,0.996569,1.000000,0.461495
AcceptedCmpOverall,0.388247,-0.212080,-0.130255,-0.013344,0.509913,0.155133,0.319553,0.174675,0.200174,0.194647,...,-0.006118,0.015537,-0.021605,-0.043835,0.007810,-0.012484,0.033256,0.461279,0.461495,1.000000

In [11]:
# Chuyển đổi dữ liệu : 
#bins = [0, 13,22 , float('inf')]
#labels = ["low", "medium", "high"]
#df['']= pd.cut(df[''], bins=bins , lables = labels)

In [12]:
# dem dữ lieu trong cai column
df['MntRegularProds'].value_counts()

MntRegularProds
16      23
17      23
9       22
18      21
14      21
        ..
1468     1
315      1
662      1
722      1
847      1
Name: count, Length: 974, dtype: int64

In [13]:
# xoa cot 
df = df.drop(columns=["MntRegularProds"])

In [14]:
# Cây quyết định : 
#from sklearn.model_selection import train_test_split

#from sklearn.preprocessing import  StandardScaler

#from sklearn.tree import  DecisionTreeClassifier 

#from sklearn.metrics import accuracy_score , confusion_matrix , recall_score , precision_score , classification

# feature and label 
#X = df[['ArithmeticError','BaseException','BaseExceptionGroup','BrokenPipeError']]
#Y = [['BrokenPipeError']]

# Chia du lieu thanh tap huan luyen va tap kiem tra

In [15]:
# Phần 1 :
# 1 Xây dựng Cây Quyết Định  
# 2 Evalute Decision tree 
# 3 Important Tree 
# Phần 2 : 
# 4 Tree information 
# 5 Prediction 
# 6 Adjuct hyperparameter 
# 7 orther tree based methods 
# 8 Base Python

In [16]:
# Base Python :

In [17]:
# print : 
# Way 1 :
a = "hello"
print(a);
b = "Say Hai"
print(b)
# Way 2 :
a1 = 12 
b1 = "Minh"
print("Hom nay la sinh nhat thu {a2} cua {b2}".format(a2=a1,b2=b1))
# Way 3 :
a2 = 12
print(f"Minh nam nay {a2}")
# Way 4 :
c = 11 
print("hom nay la ngay thu", c)

hello
Say Hai
Hom nay la sinh nhat thu 12 cua Minh
Minh nam nay 12
hom nay la ngay thu 11

Khi bạn đang sử dụng các biến trong Python, bạn cần tuân thủ một vài quy tắc và hướng dẫn. Vi phạm một số quy tắc này sẽ gây ra lỗi; Các dòng hướng dẫn khác chỉ giúp bạn viết mã dễ đọc và dễ hiểu hơn. Hãy chắc chắn ghi nhớ các quy tắc biến sau: 

- Tên biến chỉ có thể chứa chữ cái, số và dấu gạch dưới. Họ có thể bắt đầu bằng một chữ cái hoặc dấu gạch dưới, nhưng không phải bằng một số. Ví dụ: bạn có thể gọi một biến message_1 nhưng không 1_message.
- Dấu cách không được phép trong tên biến, nhưng dấu gạch dưới có thể được sử dụng để tách các từ trong tên biến. Ví dụ: greeting_message hoạt động, nhưng tin nhắn chào sẽ gây ra lỗi.
- Tránh sử dụng các từ khóa và tên hàm Python làm tên biến; nghĩa là, không sử dụng các từ mà Python đã dành riêng cho một mục đích ngữ pháp chuyên nghiệp cụ thể, chẳng hạn như in từ. (Xem "Từ khóa Python và các hàm tích hợp" trên trang 489.)
- Tên biến phải ngắn gọn nhưng mang tính mô tả. Ví dụ, tên tốt hơn n, student_name tốt hơn s_n và name_length tốt hơn length_of_persons_name.
- Hãy cẩn thận khi sử dụng chữ l viết thường và chữ hoa O vì chúng có thể bị nhầm lẫn với các số 1 và 0.

In [19]:
# Kí tự chữ
c1 = "minhdeptrai"
c2 = "MINHDEPTRAI"
print(c1.upper())
print(c2.lower())
print(c1.title())

MINHDEPTRAI
minhdeptrai
Minhdeptrai

In [26]:
# ghép kí tự : 
first_name = "Nguyen Cong"
last_name = "Minh"
full_name = first_name + " " + last_name
print("Hello " + full_name.title() + "!")
# kí tự đặt biệt 
print("1hello \n" + "Minh") # Xuống dòng 
print("2hello \t" + "Minh") # Cách dòng

Hello Nguyen Cong Minh!
1hello
Minh
2hello 	Minh

In [39]:
favorite_language = '  python  '
favorite_language1 = '  1python  '
favorite_language2 = '  2python  '
favorite_language.rstrip()  # xoa phai 
favorite_language1.lstrip() # xoa trai
favorite_language2.strip() # xoa khoan cach

'2python'

In [41]:
# Lỗi thường gặp 1 : 
age = 23
message = "Happy " + str(age) + "rd Birthday!"
print(message)
# ko có str là sai

Happy 23rd Birthday!

In [43]:
# là kí hiệu comment hàng 
''' minh ''' # là kí hiệu comment đoạn văn xuống dòng  or """ """

' minh '

In [45]:
# Học list và cắt kí tự 
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
print(bicycles)

s1 = 'spam'
t1 = list(s1)
print(t1)
s2 = 'pining for the fjords'
t2 = s2.split()
print(t2)
s3 = 'ex-parrot'
t3 = s3.split('-')
print(t3)

['trek', 'cannondale', 'redline', 'specialized']
['s', 'p', 'a', 'm']
['pining', 'for', 'the', 'fjords']
['ex', 'parrot']

In [47]:
# Selection list
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
print(bicycles[0])

bicycles = ['trek', 'cannondale', 'redline', 'specialized']
print(bicycles[-1])

trek
specialized

In [49]:
# Đếm List
cars = ['bmw', 'audi', 'toyota', 'subaru']
len(cars)

4

In [51]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
print(cars)
a=cars.reverse() # dảo ngược danh sách số 
print(a)

['bmw', 'audi', 'toyota', 'subaru']
None

In [53]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
cars.sort()
print(cars)

['audi', 'bmw', 'subaru', 'toyota']

In [55]:
# thay doi list
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)
motorcycles[0] = 'ducati'
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['ducati', 'yamaha', 'suzuki']

In [57]:
motorcycles = [] 
motorcycles.append('honda') 
motorcycles.append('yamaha') 
motorcycles.append('suzuki') 
print(motorcycles)

['honda', 'yamaha', 'suzuki']

In [59]:
a = ['a', 'b', 'c', 'd', 'e']
a.extend(['f', 'g'])
print(a)

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [61]:
motorcycles = ['honda', 'yamaha', 'suzuki'] 
motorcycles.insert(0, 'ducati')
print(motorcycles)

['ducati', 'honda', 'yamaha', 'suzuki']

In [63]:
motorcycles = ['honda', 'yamaha', 'suzuki'] 
print(motorcycles)
del motorcycles[0] 
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['yamaha', 'suzuki']

In [65]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)
popped_motorcycle = motorcycles.pop() 
print(motorcycles)
print(popped_motorcycle)

['honda', 'yamaha', 'suzuki']
['honda', 'yamaha']
suzuki

In [68]:
# use remove() 
t = ['a', 'b', 'c']
t.remove('b')
print(t)

['a', 'c']

Loop

In [2]:
magicians = ['alice', 'david', 'carolina'] 
for magician in magicians: 
    print(magician)

alice
david
carolina

In [3]:
for value in range(1,5):
    print(value)

1
2
3
4

List Number

In [5]:
numbers = list(range(1,6))
print(numbers) 

even_numbers = list(range(2,11,2)) 
print(even_numbers)

squares = []
for value in range(1,11):
     square = value**2
     squares.append(square)
print(squares)

[1, 2, 3, 4, 5]
[2, 4, 6, 8, 10]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [8]:
digits = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
a = min(digits)
b = max(digits)
c = sum(digits) 
print(a)
print(b)
print(c)

0
9
45

In [11]:
t1 = [1, 2]
t2 = [3, 4]
t1 + t2

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [14]:
squares = [value**2 for value in range(1,11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Tuple

In [16]:
dimensions = (200, 50)
print(dimensions[0])
print(dimensions[1])

200
50

In [18]:
t = ('l', 'u', 'p', 'i', 'n')
type(t)

tuple

In [20]:
high = max([2, 4, 1, 3])
print(high)

4

In [23]:
scores1 = [1, 2, 4, 5, 1, 5, 2]
scores2 = [5, 5, 2, 2, 5, 2, 3]
for pair in zip(scores1, scores2):
    print(pair)

t = list(zip(scores1, scores2))
print(t)

(1, 5)
(2, 5)
(4, 2)
(5, 2)
(1, 5)
(5, 2)
(2, 3)
[(1, 5), (2, 5), (4, 2), (5, 2), (1, 5), (5, 2), (2, 3)]

Điều kiện If

In [25]:
age = 17
if age >= 18:
   print("You are old enough to vote!")
   print("Have you registered to vote yet?")
elif age < 18:
    print("Your admission cost is $5.")
else:
   print("Sorry, you are too young to vote.")
   print("Please register to vote as soon as you turn 18!")

Your admission cost is $5.

In [27]:
word_list = 'abcdef'
'contrafibularities' in word_list

False

In [31]:
available_toppings = ['mushrooms', 'olives', 'green peppers',
                      'pepperoni', 'pineapple', 'extra cheese']
requested_toppings = ['mushrooms', 'french fries', 'extra cheese']
for requested_topping in requested_toppings:
  if requested_topping in available_toppings:
     print("Adding " + requested_topping + ".")
  else:
     print("Sorry, we don't have " + requested_topping + ".")
     
     
print("\nFinished making your pizza!")

Adding mushrooms.
Sorry, we don't have french fries.
Adding extra cheese.

Finished making your pizza!

Dictionaries

In [33]:
alien_0 = {'color': 'green', 'points': 5}
print(alien_0['color'])
print(alien_0['points'])

green
5

In [35]:
alien_0 = {'color': 'green'}
print(alien_0['color'])

green

In [37]:
alien_0 = {}
alien_0['color'] = 'green'
alien_0['points'] = 5
print(alien_0)

{'color': 'green', 'points': 5}

In [39]:
alien_0 = {'color': 'green', 'points': 5}
print(alien_0)
del alien_0['points']
print(alien_0)

{'color': 'green', 'points': 5}
{'color': 'green'}

In [41]:
user_0 = {
    'username': 'efermi',
    'first': 'enrico',
    'last': 'fermi',
    }
for key, value in user_0.items():
      print("\nKey: " + key)
      print("Value: " + value)

Key: username
Value: efermi

Key: first
Value: enrico

Key: last
Value: fermi

In [43]:
pizza = {
    'crust': 'thick',
    'toppings': ['mushrooms', 'extra cheese'],
    }
print("You ordered a " + pizza['crust'] + "-crust pizza " + "with the following toppings:")
for topping in pizza['toppings']:
    print("\t" + topping)

You ordered a thick-crust pizza with the following toppings:
	mushrooms
	extra cheese

In [45]:
users = {
    'aeinstein': {
        'first': 'albert',
        'last': 'einstein',
        'location': 'princeton',
        },
		'mcurie': {
        'first': 'marie',
        'last': 'curie',
        'location': 'paris',
        },

				}
for username, user_info in users.items():
      print("\nUsername: " + username)
      full_name = user_info['first'] + " " + user_info['last']
      location = user_info['location']
print("\tFull name: " + full_name.title())
print("\tLocation: " + location.title())

Username: aeinstein

Username: mcurie
	Full name: Marie Curie
	Location: Paris

Input and output

In [1]:
#name = input("Please enter your name: ")
#print("Hello, " + name + "!")|

In [3]:
#height = input("How tall are you, in inches? ")
#if height >= 36:
#   print("\nYou're tall enough to ride!")
#else:
#   print("\nYou'll be able to ride when you're a little older.")

In [5]:
current_number = 1
while current_number <= 5:
    print(current_number)
    current_number += 1

1
2
3
4
5

In [1]:
#prompt = "\nTell me something, and I will repeat it back to you:"
#active = True
#while active:
  #message = input(prompt)
  #if message == 'quit':
     #active = False
 # else:
     #print(message)

In [2]:
#while True:
    #city = input(prompt)
    #if city == 'quit':
        #break
    #else:
        #print("I'd love to go to " + city.title() + "!")

In [5]:
current_number = 0
while current_number < 10:
    current_number += 1
    if current_number % 2 == 0:
        continue
    
    print(current_number)

1
3
5
7
9

In [7]:
pets = ['dog', 'cat', 'dog', 'goldfish', 'cat', 'rabbit', 'cat']
print(pets)
while 'cat' in pets:
    pets.remove('cat')
print(pets)

['dog', 'cat', 'dog', 'goldfish', 'cat', 'rabbit', 'cat']
['dog', 'dog', 'goldfish', 'rabbit']

Function

In [9]:
def greet_user():
     """Display a simple greeting."""
     print("Hello!")
greet_user()

Hello!

In [11]:
def describe_pet(animal_type, pet_name):
    """Display information about a pet."""
    print("\nI have a " + animal_type + ".")
    print("My " + animal_type + "'s name is " + pet_name.title() + ".")
describe_pet('hamster', 'harry')
describe_pet('dog', 'willie')

I have a hamster.
My hamster's name is Harry.

I have a dog.
My dog's name is Willie.

In [15]:
def get_formatted_name(first_name, last_name, middle_name=''):
    """Return a full name, neatly formatted."""
    if middle_name:
       full_name = first_name + ' ' + middle_name + ' ' + last_name
    else:
       full_name = first_name + ' ' + last_name
    return full_name.title()
musician = get_formatted_name('jimi', 'hendrix')
print(musician)
musicians = get_formatted_name('john', 'hooker', 'lee')
print(musicians)

Jimi Hendrix
John Lee Hooker

Class

In [22]:
class MyClass:
     "Đây là class thứ 2 được khởi tạo"
     a = 10
     def func(self):
        print('Xin chào')

# Output: 10
print(MyClass.a)
# Output: <function MyClass.func at 0x0000000003079BF8>
print(MyClass.func)

# Output: 'Đây là class thứ 2 được khởi tạo'
print(MyClass.__doc__)

10
<function MyClass.func at 0x000001F5EA11CFE0>
Đây là class thứ 2 được khởi tạo

In [23]:
class SoPhuc:

     def __init__(self,r = 0,i = 0):
        self.phanthuc = r
        self.phanao = i

     def getData(self):
        print("{}+{}j".format(self.phanthuc,self.phanao))

# Tạo đối tượng số phức mới
c1 = SoPhuc(2,3)

# Gọi hàm getData()
# Output: 2+3j
c1.getData()

# Tạo đối tượng số phức mới
# tạo thêm một thuộc tính mới (new)
c2 = SoPhuc(5)
c2.new = 10

# Output: (5, 0, 10)
print((c2.phanthuc, c2.phanao, c2.new))

2+3j
(5, 0, 10)