In [93]:
# Khai Báo Thư Viện 
import pandas as pd
import numpy as np

In [94]:
# Doc Du Lieu
data = pd.read_csv("Bank_Loan_DataSet.csv")

In [95]:
data.head()

,Loan ID,Customer ID,Loan Status,Current Loan Amount,Term,Credit Score,Annual Income,Years in current job,Home Ownership,Purpose,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
0,14dd8831-6af5-400b-83ec-68e61888a048,981165ec-3274-42f5-a3b4-d104041a9ca9,Fully Paid,445412.0,Short Term,709.0,1167493.0,8 years,Home Mortgage,Home Improvements,5214.74,17.2,NaN,6.0,1.0,228190.0,416746.0,1.0,0.0
1,4771cc26-131a-45db-b5aa-537ea4ba5342,2de017a3-2e01-49cb-a581-08169e83be29,Fully Paid,262328.0,Short Term,NaN,NaN,10+ years,Home Mortgage,Debt Consolidation,33295.98,21.1,8.0,35.0,0.0,229976.0,850784.0,0.0,0.0
2,4eed4e6a-aa2f-4c91-8651-ce984ee8fb26,5efb2b2b-bf11-4dfd-a572-3761a2694725,Fully Paid,99999999.0,Short Term,741.0,2231892.0,8 years,Own Home,Debt Consolidation,29200.53,14.9,29.0,18.0,1.0,297996.0,750090.0,0.0,0.0
3,77598f7b-32e7-4e3b-a6e5-06ba0d98fe8a,e777faab-98ae-45af-9a86-7ce5b33b1011,Fully Paid,347666.0,Long Term,721.0,806949.0,3 years,Own Home,Debt Consolidation,8741.90,12.0,NaN,9.0,0.0,256329.0,386958.0,0.0,0.0
4,d4062e70-befa-4995-8643-a0de73938182,81536ad9-5ccf-4eb8-befb-47a4d608658e,Fully Paid,176220.0,Short Term,NaN,NaN,5 years,Rent,Debt Consolidation,20639.70,6.1,NaN,15.0,0.0,253460.0,427174.0,0.0,0.0

In [96]:
data.tail()

,Loan ID,Customer ID,Loan Status,Current Loan Amount,Term,Credit Score,Annual Income,Years in current job,Home Ownership,Purpose,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
100509,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100510,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100511,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100512,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100513,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [97]:
data.shape

(100514, 19)

In [98]:
data.columns

Index(['Loan ID', 'Customer ID', 'Loan Status', 'Current Loan Amount', 'Term',
       'Credit Score', 'Annual Income', 'Years in current job',
       'Home Ownership', 'Purpose', 'Monthly Debt', 'Years of Credit History',
       'Months since last delinquent', 'Number of Open Accounts',
       'Number of Credit Problems', 'Current Credit Balance',
       'Maximum Open Credit', 'Bankruptcies', 'Tax Liens'],
      dtype='object')

In [99]:
missing_data = data.isnull().sum()
print(missing_data[missing_data > 0])
print("\nSố Lượng Thuộc Tính bị lỗi",missing_data[missing_data > 0].count())

Loan ID                           514
Customer ID                       514
Loan Status                       514
Current Loan Amount               514
Term                              514
Credit Score                    19668
Annual Income                   19668
Years in current job             4736
Home Ownership                    514
Purpose                           514
Monthly Debt                      514
Years of Credit History           514
Months since last delinquent    53655
Number of Open Accounts           514
Number of Credit Problems         514
Current Credit Balance            514
Maximum Open Credit               516
Bankruptcies                      718
Tax Liens                         524
dtype: int64

Số Lượng Thuộc Tính bị lỗi 19

In [100]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100514 entries, 0 to 100513
Data columns (total 19 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Loan ID                       100000 non-null  object
 1   Customer ID                   100000 non-null  object
 2   Loan Status                   100000 non-null  object
 3   Current Loan Amount           100000 non-null  float64
 4   Term                          100000 non-null  object
 5   Credit Score                  80846 non-null   float64
 6   Annual Income                 80846 non-null   float64
 7   Years in current job          95778 non-null   object
 8   Home Ownership                100000 non-null  object
 9   Purpose                       100000 non-null  object
 10  Monthly Debt                  100000 non-null  float64
 11  Years of Credit History       100000 non-null  float64
 12  Months since last delinquent  46859 non-null   float64
 13  Number of Open Accounts       100000 non-null  float64
 14  Number of Credit Problems     100000 non-null  float64
 15  Current Credit Balance        100000 non-null  float64
 16  Maximum Open Credit           99998 non-null   float64
 17  Bankruptcies                  99796 non-null   float64
 18  Tax Liens                     99990 non-null   float64
dtypes: float64(12), object(7)
memory usage: 14.6+ MB

# ## Thuộc tính của Dataset: Bank Loan Dataset

"""
| Thuộc tính                      | Ý nghĩa                                                                                   |
|---------------------------------|--------------------------------------------------------------------------------------------|
| Loan ID                         | Mã số khoản vay của khách hàng                                                            |
| Customer ID                     | Mã định danh khách hàng                                                                   |
| Loan Status                     | Trạng thái khoản vay (Được duyệt hoặc bị từ chối)                                         |
| Current Loan Amount             | Số tiền khoản vay hiện tại                                                                |
| Term                            | Kỳ hạn vay (ngắn hạn hoặc dài hạn)                                                        |
| Credit Score                    | Điểm tín dụng của khách hàng (đánh giá mức độ uy tín tài chính)                          |
| Annual Income                   | Thu nhập hàng năm của khách hàng                                                          |
| Years in current job            | Số năm làm việc tại công việc hiện tại                                                    |
| Home Ownership                  | Hình thức sở hữu nhà ở (Thuê, sở hữu, thế chấp…)                                          |
| Purpose                         | Mục đích vay vốn (mua nhà, mua xe, kinh doanh, tiêu dùng…)                                |
| Monthly Debt                    | Khoản nợ phải trả hàng tháng của khách hàng                                               |
| Years of Credit History         | Số năm có lịch sử tín dụng (thời gian có phát sinh vay mượn ngân hàng)                   |
| Months since last delinquent    | Số tháng kể từ lần trễ hạn thanh toán gần nhất                                            |
| Number of Open Accounts         | Số lượng tài khoản tín dụng đang hoạt động                                                |
| Number of Credit Problems       | Số lượng vấn đề tín dụng đã phát sinh (như nợ xấu, trễ hạn...)                           |
| Current Credit Balance          | Số dư nợ tín dụng hiện tại                                                               |
| Maximum Open Credit             | Hạn mức tín dụng tối đa có thể vay                                                        |
| Bankruptcies                    | Số lần phá sản nếu có                                                                     |
| Tax Liens                       | Số lượng khoản thuế chưa trả hoặc bị phong tỏa tài sản                                    |
"""

In [101]:
# Tiền Xử Lý Dữ Liệu 
# Copy 1 file dữ liệu qua 1 biến 
df = data.copy()

In [102]:
df.drop(['Loan ID', 'Customer ID'], axis=1, inplace=True)

In [103]:
# Điền trung bình cho cột số liệu quan trọng
df['Credit Score'].fillna(df['Credit Score'].mean(), inplace=True)
df['Annual Income'].fillna(df['Annual Income'].mean(), inplace=True)

C:\Users\Vi Tính Xuân Lộc\AppData\Local\Temp\ipykernel_8440\1164780810.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Credit Score'].fillna(df['Credit Score'].mean(), inplace=True)
C:\Users\Vi Tính Xuân Lộc\AppData\Local\Temp\ipykernel_8440\1164780810.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Annual Income'].fillna(df['Annual Income'].mean(), inplace=True)

In [104]:
# Điền mode (giá trị phổ biến nhất) cho cột phân loại
df['Years in current job'].fillna(df['Years in current job'].mode()[0], inplace=True)

C:\Users\Vi Tính Xuân Lộc\AppData\Local\Temp\ipykernel_8440\2207962639.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Years in current job'].fillna(df['Years in current job'].mode()[0], inplace=True)

In [105]:
# Xóa cột thiếu quá nhiều dữ liệu
df.drop('Months since last delinquent', axis=1, inplace=True)

In [106]:
# Điền giá trị trung bình cho các cột số còn lại bị thiếu ít 
cols_fill_mean = ['Maximum Open Credit', 'Bankruptcies', 'Tax Liens']

for col in cols_fill_mean:
    df[col].fillna(df[col].mean(), inplace=True)

C:\Users\Vi Tính Xuân Lộc\AppData\Local\Temp\ipykernel_8440\812181850.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mean(), inplace=True)

In [107]:
# Kiểm tra xem còn lỗi không 
missing_data = df.isnull().sum()
print(missing_data[missing_data > 0])
print("\nSố Lượng Thuộc Tính bị lỗi",missing_data[missing_data > 0].count())

Loan Status                  514
Current Loan Amount          514
Term                         514
Home Ownership               514
Purpose                      514
Monthly Debt                 514
Years of Credit History      514
Number of Open Accounts      514
Number of Credit Problems    514
Current Credit Balance       514
dtype: int64

Số Lượng Thuộc Tính bị lỗi 10

In [108]:
df.dropna(inplace=True)

In [109]:
missing_data = df.isnull().sum()
print(missing_data[missing_data > 0])
print("\nSố Lượng Thuộc Tính bị lỗi",missing_data[missing_data > 0].count())

Series([], dtype: int64)

Số Lượng Thuộc Tính bị lỗi 0

In [110]:
# Hoàn tất xử lý dữ liệu lỗi

In [111]:
df.head()

,Loan Status,Current Loan Amount,Term,Credit Score,Annual Income,Years in current job,Home Ownership,Purpose,Monthly Debt,Years of Credit History,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
0,Fully Paid,445412.0,Short Term,709.000000,1.167493e+06,8 years,Home Mortgage,Home Improvements,5214.74,17.2,6.0,1.0,228190.0,416746.0,1.0,0.0
1,Fully Paid,262328.0,Short Term,1076.456089,1.378277e+06,10+ years,Home Mortgage,Debt Consolidation,33295.98,21.1,35.0,0.0,229976.0,850784.0,0.0,0.0
2,Fully Paid,99999999.0,Short Term,741.000000,2.231892e+06,8 years,Own Home,Debt Consolidation,29200.53,14.9,18.0,1.0,297996.0,750090.0,0.0,0.0
3,Fully Paid,347666.0,Long Term,721.000000,8.069490e+05,3 years,Own Home,Debt Consolidation,8741.90,12.0,9.0,0.0,256329.0,386958.0,0.0,0.0
4,Fully Paid,176220.0,Short Term,1076.456089,1.378277e+06,5 years,Rent,Debt Consolidation,20639.70,6.1,15.0,0.0,253460.0,427174.0,0.0,0.0

In [112]:
# Xử lý biểu diễn dữ liệu cho dễ phân tích 
# xử lý Years in current job thành dạng số 
# Hàm xử lý chuyển đổi dữ liệu
def convert_years(x):
    if pd.isnull(x):
        return 0  # nếu thiếu dữ liệu thì gán tạm là 0
    if '<' in x:
        return 0  # nhỏ hơn 1 năm = 0 năm
    if '10+' in x:
        return 10  # trên 10 năm = 10 năm
    # Trích số năm trong chuỗi
    return int(x.split()[0])
# Áp dụng hàm xử lý vào cột Years in current job
df['Years in current job'] = df['Years in current job'].apply(convert_years)

# Kiểm tra lại kết quả
print(df['Years in current job'].unique())
print(df.info())

[ 8 10  3  5  0  2  4  9  7  1  6]
<class 'pandas.core.frame.DataFrame'>
Index: 100000 entries, 0 to 99999
Data columns (total 16 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Loan Status                100000 non-null  object
 1   Current Loan Amount        100000 non-null  float64
 2   Term                       100000 non-null  object
 3   Credit Score               100000 non-null  float64
 4   Annual Income              100000 non-null  float64
 5   Years in current job       100000 non-null  int64
 6   Home Ownership             100000 non-null  object
 7   Purpose                    100000 non-null  object
 8   Monthly Debt               100000 non-null  float64
 9   Years of Credit History    100000 non-null  float64
 10  Number of Open Accounts    100000 non-null  float64
 11  Number of Credit Problems  100000 non-null  float64
 12  Current Credit Balance     100000 non-null  float64
 13  Maximum Open Credit        100000 non-null  float64
 14  Bankruptcies               100000 non-null  float64
 15  Tax Liens                  100000 non-null  float64
dtypes: float64(11), int64(1), object(4)
memory usage: 13.0+ MB
None

In [113]:
df.head()

,Loan Status,Current Loan Amount,Term,Credit Score,Annual Income,Years in current job,Home Ownership,Purpose,Monthly Debt,Years of Credit History,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
0,Fully Paid,445412.0,Short Term,709.000000,1.167493e+06,8,Home Mortgage,Home Improvements,5214.74,17.2,6.0,1.0,228190.0,416746.0,1.0,0.0
1,Fully Paid,262328.0,Short Term,1076.456089,1.378277e+06,10,Home Mortgage,Debt Consolidation,33295.98,21.1,35.0,0.0,229976.0,850784.0,0.0,0.0
2,Fully Paid,99999999.0,Short Term,741.000000,2.231892e+06,8,Own Home,Debt Consolidation,29200.53,14.9,18.0,1.0,297996.0,750090.0,0.0,0.0
3,Fully Paid,347666.0,Long Term,721.000000,8.069490e+05,3,Own Home,Debt Consolidation,8741.90,12.0,9.0,0.0,256329.0,386958.0,0.0,0.0
4,Fully Paid,176220.0,Short Term,1076.456089,1.378277e+06,5,Rent,Debt Consolidation,20639.70,6.1,15.0,0.0,253460.0,427174.0,0.0,0.0

In [114]:
df.tail()

,Loan Status,Current Loan Amount,Term,Credit Score,Annual Income,Years in current job,Home Ownership,Purpose,Monthly Debt,Years of Credit History,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
99995,Fully Paid,147070.0,Short Term,725.0,475437.0,7,Own Home,other,2202.86,22.3,5.0,0.0,47766.0,658548.0,0.0,0.0
99996,Fully Paid,99999999.0,Short Term,732.0,1289416.0,1,Rent,Debt Consolidation,13109.05,9.4,22.0,0.0,153045.0,509234.0,0.0,0.0
99997,Fully Paid,103136.0,Short Term,742.0,1150545.0,6,Rent,Debt Consolidation,7315.57,18.8,12.0,1.0,109554.0,537548.0,1.0,0.0
99998,Fully Paid,530332.0,Short Term,746.0,1717524.0,9,Rent,Debt Consolidation,9890.07,15.0,8.0,0.0,404225.0,738254.0,0.0,0.0
99999,Fully Paid,99999999.0,Short Term,743.0,935180.0,10,Own Home,Debt Consolidation,9118.10,13.0,4.0,1.0,45600.0,91014.0,1.0,0.0

In [115]:
# Làm tròn cột 'Credit Score' còn 2 chữ số thập phân
df['Credit Score'] = df['Credit Score'].round(2)
# Kiểm tra lại dữ liệu sau khi làm tròn
df.head()

,Loan Status,Current Loan Amount,Term,Credit Score,Annual Income,Years in current job,Home Ownership,Purpose,Monthly Debt,Years of Credit History,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
0,Fully Paid,445412.0,Short Term,709.00,1.167493e+06,8,Home Mortgage,Home Improvements,5214.74,17.2,6.0,1.0,228190.0,416746.0,1.0,0.0
1,Fully Paid,262328.0,Short Term,1076.46,1.378277e+06,10,Home Mortgage,Debt Consolidation,33295.98,21.1,35.0,0.0,229976.0,850784.0,0.0,0.0
2,Fully Paid,99999999.0,Short Term,741.00,2.231892e+06,8,Own Home,Debt Consolidation,29200.53,14.9,18.0,1.0,297996.0,750090.0,0.0,0.0
3,Fully Paid,347666.0,Long Term,721.00,8.069490e+05,3,Own Home,Debt Consolidation,8741.90,12.0,9.0,0.0,256329.0,386958.0,0.0,0.0
4,Fully Paid,176220.0,Short Term,1076.46,1.378277e+06,5,Rent,Debt Consolidation,20639.70,6.1,15.0,0.0,253460.0,427174.0,0.0,0.0

In [116]:
# Đổi tên cột 
df.rename(columns={
    'Loan Status': 'Trạng thái vay',
    'Current Loan Amount': 'Số tiền vay hiện tại',
    'Term': 'Kỳ hạn vay',
    'Credit Score': 'Điểm tín dụng',
    'Annual Income': 'Thu nhập năm',
    'Years in current job': 'Số năm làm việc',
    'Home Ownership': 'Hình thức nhà ở',
    'Purpose': 'Mục đích vay',
    'Monthly Debt': 'Nợ hàng tháng',
    'Years of Credit History': 'Số năm lịch sử tín dụng',
    'Number of Open Accounts': 'Số tài khoản đang hoạt động',
    'Number of Credit Problems': 'Số vấn đề tín dụng',
    'Current Credit Balance': 'Số dư tín dụng hiện tại',
    'Maximum Open Credit': 'Hạn mức tín dụng tối đa',
    'Bankruptcies': 'Số lần phá sản',
    'Tax Liens': 'Số lần nợ thuế'
}, inplace=True)

In [117]:
df.head()

,Trạng thái vay,Số tiền vay hiện tại,Kỳ hạn vay,Điểm tín dụng,Thu nhập năm,Số năm làm việc,Hình thức nhà ở,Mục đích vay,Nợ hàng tháng,Số năm lịch sử tín dụng,Số tài khoản đang hoạt động,Số vấn đề tín dụng,Số dư tín dụng hiện tại,Hạn mức tín dụng tối đa,Số lần phá sản,Số lần nợ thuế
0,Fully Paid,445412.0,Short Term,709.00,1.167493e+06,8,Home Mortgage,Home Improvements,5214.74,17.2,6.0,1.0,228190.0,416746.0,1.0,0.0
1,Fully Paid,262328.0,Short Term,1076.46,1.378277e+06,10,Home Mortgage,Debt Consolidation,33295.98,21.1,35.0,0.0,229976.0,850784.0,0.0,0.0
2,Fully Paid,99999999.0,Short Term,741.00,2.231892e+06,8,Own Home,Debt Consolidation,29200.53,14.9,18.0,1.0,297996.0,750090.0,0.0,0.0
3,Fully Paid,347666.0,Long Term,721.00,8.069490e+05,3,Own Home,Debt Consolidation,8741.90,12.0,9.0,0.0,256329.0,386958.0,0.0,0.0
4,Fully Paid,176220.0,Short Term,1076.46,1.378277e+06,5,Rent,Debt Consolidation,20639.70,6.1,15.0,0.0,253460.0,427174.0,0.0,0.0

In [118]:
# đổi dữ liệu các cột 
# Đổi giá trị trong cột 'Loan Status'
df['Trạng thái vay'] = df['Trạng thái vay'].replace({
    'Fully Paid': 'Đã thanh toán',
    'Charged Off': 'Không thanh toán'
})

# Đổi giá trị trong cột 'Kỳ hạn vay'
df['Kỳ hạn vay'] = df['Kỳ hạn vay'].replace({
    'Short Term': 'Ngắn hạn',
    'Long Term': 'Dài hạn'
})

# Đổi giá trị trong cột 'Hình thức nhà ở'
df['Hình thức nhà ở'] = df['Hình thức nhà ở'].replace({
    'Rent': 'Thuê',
    'Own': 'Sở hữu',
    'Mortgage': 'Thế chấp',
    'Other': 'Khác', 
    'Own Home': 'Nhà riêng',
    'Home Mortgage': 'Thế chấp nhà',
    'HaveMortgage': 'Có thế chấp'
})

# Đổi giá trị trong cột 'Mục đích vay'
df['Mục đích vay'] = df['Mục đích vay'].replace({
    'Debt Consolidation': 'Hợp nhất nợ',
    'Home Improvements': 'Sửa nhà',
    'Business Loan': 'Vay kinh doanh',
    'Buy a Car': 'Mua xe',
    'Buy House': 'Mua nhà',
    'Medical Bills': 'Viện phí',
    'Take a Trip': 'Du lịch',
    'Other': 'Khác',
    'small_business': 'Doanh nghiệp nhỏ',
    'major_purchase': 'Mua sắm lớn',
    'other': 'Khác',
    'wedding': 'Đám cưới',
    'vacation': 'Kỳ nghỉ',
    'Educational Expenses': 'Chi phí giáo dục',
    'moving': 'Chuyển nhà',
    'renewable_energy': 'Năng lượng tái tạo'
})

In [119]:
df.head()

,Trạng thái vay,Số tiền vay hiện tại,Kỳ hạn vay,Điểm tín dụng,Thu nhập năm,Số năm làm việc,Hình thức nhà ở,Mục đích vay,Nợ hàng tháng,Số năm lịch sử tín dụng,Số tài khoản đang hoạt động,Số vấn đề tín dụng,Số dư tín dụng hiện tại,Hạn mức tín dụng tối đa,Số lần phá sản,Số lần nợ thuế
0,Đã thanh toán,445412.0,Ngắn hạn,709.00,1.167493e+06,8,Thế chấp nhà,Sửa nhà,5214.74,17.2,6.0,1.0,228190.0,416746.0,1.0,0.0
1,Đã thanh toán,262328.0,Ngắn hạn,1076.46,1.378277e+06,10,Thế chấp nhà,Hợp nhất nợ,33295.98,21.1,35.0,0.0,229976.0,850784.0,0.0,0.0
2,Đã thanh toán,99999999.0,Ngắn hạn,741.00,2.231892e+06,8,Nhà riêng,Hợp nhất nợ,29200.53,14.9,18.0,1.0,297996.0,750090.0,0.0,0.0
3,Đã thanh toán,347666.0,Dài hạn,721.00,8.069490e+05,3,Nhà riêng,Hợp nhất nợ,8741.90,12.0,9.0,0.0,256329.0,386958.0,0.0,0.0
4,Đã thanh toán,176220.0,Ngắn hạn,1076.46,1.378277e+06,5,Thuê,Hợp nhất nợ,20639.70,6.1,15.0,0.0,253460.0,427174.0,0.0,0.0

In [120]:
df.to_csv('D:/PROJECT_DO_AN_KPDL/Bank_Loan_Data_Clean_VN.csv', index=False)

In [121]:
# Liệt kê thuộc tính và số lượng giá trị trong cột 'Trạng thái vay'
print("Cột: Trạng thái vay")
print(df['Trạng thái vay'].unique())
print("Tổng số lượng thuộc tính:", df['Trạng thái vay'].nunique())
print("="*50)

# Liệt kê thuộc tính và số lượng giá trị trong cột 'Kỳ hạn vay'
print("Cột: Kỳ hạn vay")
print(df['Kỳ hạn vay'].unique())
print("Tổng số lượng thuộc tính:", df['Kỳ hạn vay'].nunique())
print("="*50)

# Liệt kê thuộc tính và số lượng giá trị trong cột 'Hình thức nhà ở'
print("Cột: Hình thức nhà ở")
print(df['Hình thức nhà ở'].unique())
print("Tổng số lượng thuộc tính:", df['Hình thức nhà ở'].nunique())
print("="*50)

# Liệt kê thuộc tính và số lượng giá trị trong cột 'Mục đích vay'
print("Cột: Mục đích vay")
print(df['Mục đích vay'].unique())
print("Tổng số lượng thuộc tính:", df['Mục đích vay'].nunique())
print("="*50)

Cột: Trạng thái vay
['Đã thanh toán' 'Không thanh toán']
Tổng số lượng thuộc tính: 2
==================================================
Cột: Kỳ hạn vay
['Ngắn hạn' 'Dài hạn']
Tổng số lượng thuộc tính: 2
==================================================
Cột: Hình thức nhà ở
['Thế chấp nhà' 'Nhà riêng' 'Thuê' 'Có thế chấp']
Tổng số lượng thuộc tính: 4
==================================================
Cột: Mục đích vay
['Sửa nhà' 'Hợp nhất nợ' 'Mua nhà' 'Khác' 'Vay kinh doanh' 'Mua xe'
 'Mua sắm lớn' 'Du lịch' 'Doanh nghiệp nhỏ' 'Viện phí' 'Đám cưới'
 'Kỳ nghỉ' 'Chi phí giáo dục' 'Chuyển nhà' 'Năng lượng tái tạo']
Tổng số lượng thuộc tính: 15
==================================================

In [ ]:
# The End